
.main {
    height: auto;
    width: 500px;
    border: 2px solid black;
    background-color: aqua;
    margin: auto;
}
.feedback {
    margin-left:  35px;
    margin-top: 15px;
}
.heading {
    display: flex;
    justify-content: center;
} 
.body {
    margin-left: 15px;
}
#email {
    margin-left: 23px;
}
#age {
    margin-left: 36px;
}
#num {
    margin-left: 12px;
}
#choice {
    margin-left: 20px;
    padding: 5px;
}
